<div class="hero-unit">
    <h2>Manage Books</h2>
    <li>@Html.ActionLink("List all books", "Index", "ManageBooks")</li>
    <li>@Html.ActionLink("Add a book", "Add", "ManageBooks")</li>
    <li>@Html.ActionLink("Add many books", "AddMany", "ManageBooks")</li>
</div>
